<div id="<%= dom_id discussion %>" class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-5" style="background-color: hsl(224, 14%, 16%);">
  <div class="md:flex">
    <div class="p-4">
      <div class="text-xl" style="color: #f70;">
        <%= link_to discussion.name, discussion %>
      </div>
      <p class="mt-2" style="color: hsl(224, 6%, 77%);"><%= discussion.description.body.to_plain_text %></p>
    </div>
  </div>
</div>
