<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Discussions</h1>
    <%= link_to "New Discussion", new_discussion_path, class: "rounded-lg py-3 px-5 bg-gray-700 text-white block font-medium" %>
  </div>

  <div id="discussions" class="min-w-full">
    <%= render @discussions %>
  </div>
</div>
