<div id="<%= dom_id category %>">
  <li class="my-5">
    <%= link_to category do %>
      <span class="font-medium rounded-md bg-blue-600 px-4 py-2 text-sm text-white focus:outline-none focus:ring hover:bg-blue-700"><%= category.name %></span>
    <% end %>
  </li>
</div>
